#screen {
    display: flex;
    flex-wrap: wrap;
    color: red;

}
#testBox {
    background-color: green;
    width: 200px;
    height: 200px;
}
#screen div {
    background-color: green;
    border: 1rem solid rgb(250, 0, 0);
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
body div {
    background-color: black;
}
.box {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    
    width: 400px;
    height: 400px;
    
    border: 1rem solid;
    
}